In [5]:
%load_ext autoreload
%autoreload 2

import os
import sys

module_path = os.path.abspath(os.pardir)
if module_path not in sys.path:
    sys.path.append(module_path)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
from scipy import stats
from src import mef_test
import sklearn
from src import functions

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
new_df = functions.load_processed_train_df()

/home/max/flatiron/chi-ds/module_3/week_3/projects/tanzaniawellclassification/src/functions.py:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_zeros[decade] = non_zeros['decade'].map(lambda val: create_decade_columns(val, decade))
/home/max/flatiron/chi-ds/module_3/week_3/projects/tanzaniawellclassification/src/functions.py:644: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_zeros[decade] = non_zeros['decade'].map(lambda val: create_decade_columns(val, decade))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20709 entries, 0 to 20708
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            20709 non-null  int64
 1   amount_tsh                    20709 non-null  float64
 2   date_recorded                 20709 non-null  object
 3   gps_height                    20709 non-null  int64
 4   longitude                     20709 non-null  float64
 5   latitude                      20709 non-null  float64
 6   wpt_name                      20709 non-null  object
 7   num_private                   20709 non-null  int64
 8   basin                         20709 non-null  object
 9   subvillage                    20348 non-null  object
 10  region                        20709 non-null  object
 11  region_code                   20709 non-null  int64
 12  district_code                 20709 non-null  int64
 13  lga                           20709 non-null  object
 14  ward                          20709 non-null  object
 15  population                    20709 non-null  int64
 16  public_meeting                19681 non-null  object
 17  recorded_by                   20709 non-null  object
 18  scheme_name                   7520 non-null   object
 19  permit                        20709 non-null  object
 20  construction_year             20709 non-null  int64
 21  management_group              20709 non-null  object
 22  payment                       20709 non-null  object
 23  payment_type                  20709 non-null  object
 24  water_quality                 20709 non-null  object
 25  quality_group                 20709 non-null  object
 26  quantity                      20709 non-null  object
 27  quantity_group                20709 non-null  object
 28  source                        20709 non-null  object
 29  source_type                   20709 non-null  object
 30  source_class                  20709 non-null  object
 31  status_group                  20709 non-null  object
 32  status                        20709 non-null  int64
 33  extraction_type/group/class   20709 non-null  object
 34  scheme_management/management  20709 non-null  object
 35  funder/installer              20709 non-null  object
 36  waterpoint_type/group         20709 non-null  object
 37  2000-2010                     20709 non-null  float64
 38  1990-2000                     20709 non-null  float64
 39  1980-1990                     20709 non-null  float64
 40  2010-2020                     20709 non-null  float64
 41  1970-1980                     20709 non-null  float64
 42  1960-1970                     20709 non-null  float64
 43  decade                        20709 non-null  object
dtypes: float64(9), int64(8), object(27)
memory usage: 7.0+ MB

In [7]:
new_df

,id,amount_tsh,date_recorded,gps_height,longitude,latitude,num_private,basin,district_code,ward,...,waterpoint_type/group,2000-2010,1990-2000,1980-1990,2010-2020,1970-1980,1960-1970,construction_year,region_bins,lga_coded
0,69572,6000.0,2011-03-14,1390,34.938093,-9.856322,0,Lake Nyasa,5,Mundindi,...,communal standpipe,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,1999.0,0,other
1,8776,0.0,2013-03-06,1399,34.698766,-2.147466,0,Lake Victoria,2,Natta,...,communal standpipe,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,2010.0,5,other
2,34310,25.0,2013-02-25,686,37.460664,-3.821329,0,Pangani,4,Ngorika,...,communal standpipe multiple/communal standpipe,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,2009.0,1,other
3,67743,0.0,2013-01-28,263,38.486161,-11.155298,0,Ruvuma / Southern Coast,63,Nanyumbu,...,communal standpipe multiple/communal standpipe,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,1986.0,6,other
4,19728,0.0,2011-07-13,0,31.130847,-1.825359,0,Lake Victoria,1,Nyakasimbi,...,communal standpipe,0.330953,0.223262,0.010000,0.425784,0.010000,0.0,2015.0,3,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,1210,37.169807,-3.253847,0,Pangani,5,Masama Magharibi,...,communal standpipe,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,1999.0,2,other
59396,27263,4700.0,2011-05-07,1212,35.249991,-9.070629,0,Rufiji,4,Ikondo,...,communal standpipe,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,1996.0,0,other
59397,37057,0.0,2011-04-11,0,34.017087,-8.750434,0,Rufiji,7,Chimala,...,hand pump,0.411256,0.089396,0.157794,0.118982,0.022571,0.2,2005.0,3,other
59398,31282,0.0,2011-03-08,0,35.861315,-6.378573,0,Rufiji,4,Mvumi Makulu,...,hand pump,0.349299,0.192890,0.030000,0.427811,0.000000,0.0,2015.0,3,other
59399,26348,0.0,2011-03-23,191,38.104048,-6.747464,0,Wami / Ruvu,2,Ngerengere,...,hand pump,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,2002.0,3,rural

In [8]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            59400 non-null  int64
 1   amount_tsh                    59400 non-null  float64
 2   date_recorded                 59400 non-null  object
 3   gps_height                    59400 non-null  int64
 4   longitude                     59400 non-null  float64
 5   latitude                      59400 non-null  float64
 6   num_private                   59400 non-null  int64
 7   basin                         59400 non-null  object
 8   district_code                 59400 non-null  int64
 9   ward                          59400 non-null  object
 10  population                    59400 non-null  int64
 11  public_meeting                59400 non-null  object
 12  permit                        59400 non-null  object
 13  management_group              59400 non-null  object
 14  payment                       59400 non-null  object
 15  quality_group                 59400 non-null  object
 16  quantity                      59400 non-null  object
 17  source_type                   59400 non-null  object
 18  status_group                  59400 non-null  object
 19  status                        59400 non-null  int64
 20  extraction_type/group/class   59400 non-null  object
 21  scheme_management/management  59400 non-null  object
 22  funder/installer              59400 non-null  object
 23  waterpoint_type/group         59400 non-null  object
 24  2000-2010                     59400 non-null  float64
 25  1990-2000                     59400 non-null  float64
 26  1980-1990                     59400 non-null  float64
 27  2010-2020                     59400 non-null  float64
 28  1970-1980                     59400 non-null  float64
 29  1960-1970                     59400 non-null  float64
 30  construction_year             59400 non-null  float64
 31  region_bins                   59400 non-null  category
 32  lga_coded                     59400 non-null  object
dtypes: category(1), float64(10), int64(6), object(16)
memory usage: 17.5+ MB

In [9]:
new_df.to_csv('../data/processed_data.csv')

In [35]:
df = pd.read_csv('../data/processed_data.csv')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    59400 non-null  int64
 1   id                            59400 non-null  int64
 2   amount_tsh                    59400 non-null  float64
 3   date_recorded                 59400 non-null  object
 4   gps_height                    59400 non-null  int64
 5   longitude                     59400 non-null  float64
 6   latitude                      59400 non-null  float64
 7   num_private                   59400 non-null  int64
 8   basin                         59400 non-null  object
 9   district_code                 59400 non-null  int64
 10  ward                          59400 non-null  object
 11  population                    59400 non-null  int64
 12  public_meeting                59400 non-null  object
 13  permit                        56344 non-null  string
 14  management_group              59400 non-null  object
 15  payment                       59400 non-null  object
 16  quality_group                 59400 non-null  object
 17  quantity                      59400 non-null  object
 18  source_type                   59400 non-null  object
 19  status_group                  59400 non-null  object
 20  status                        59400 non-null  int64
 21  extraction_type/group/class   59400 non-null  object
 22  scheme_management/management  59400 non-null  object
 23  funder/installer              59400 non-null  object
 24  waterpoint_type/group         59400 non-null  object
 25  2000-2010                     59400 non-null  float64
 26  1990-2000                     59400 non-null  float64
 27  1980-1990                     59400 non-null  float64
 28  2010-2020                     59400 non-null  float64
 29  1970-1980                     59400 non-null  float64
 30  1960-1970                     59400 non-null  float64
 31  region_bins                   59400 non-null  int64
 32  lga_coded                     59400 non-null  object
dtypes: float64(9), int64(8), object(15), string(1)
memory usage: 15.0+ MB

In [ ]:
new_df.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    59400 non-null  int64
 1   id                            59400 non-null  int64
 2   amount_tsh                    59400 non-null  float64
 3   date_recorded                 59400 non-null  object
 4   gps_height                    59400 non-null  int64
 5   longitude                     59400 non-null  float64
 6   latitude                      59400 non-null  float64
 7   num_private                   59400 non-null  int64
 8   basin                         59400 non-null  object
 9   district_code                 59400 non-null  int64
 10  ward                          59400 non-null  object
 11  population                    59400 non-null  int64
 12  public_meeting                59400 non-null  object
 13  permit                        56344 non-null  object
 14  management_group              59400 non-null  object
 15  payment                       59400 non-null  object
 16  quality_group                 59400 non-null  object
 17  quantity                      59400 non-null  object
 18  source_type                   59400 non-null  object
 19  status_group                  59400 non-null  object
 20  status                        59400 non-null  int64
 21  extraction_type/group/class   59400 non-null  object
 22  scheme_management/management  59400 non-null  object
 23  funder/installer              59400 non-null  object
 24  waterpoint_type/group         59400 non-null  object
 25  2000-2010                     59400 non-null  float64
 26  1990-2000                     59400 non-null  float64
 27  1980-1990                     59400 non-null  float64
 28  2010-2020                     59400 non-null  float64
 29  1970-1980                     59400 non-null  float64
 30  1960-1970                     59400 non-null  float64
 31  region_bins                   59400 non-null  int64
 32  lga_coded                     59400 non-null  object
dtypes: float64(9), int64(8), object(16)
memory usage: 15.0+ MB